
<head>
<title>Drum Player</title> 


   
     <script src="Scripts/playdrum.js"></script>
    <link rel="Stylesheet" href="Stylesheet/style.css"/>
    
</head>
<body>
    <img src="images/drm2.jpg">
   
<div id="container"> 
<audio src="sounds/CrashCymbal.ogg" id="crash"  preload="auto"></audio>

<audio src="sounds/HiHatClosed.ogg" id="hhclosed" preload="auto"></audio>

<audio src="sounds/HiHatLong.ogg" id="hhlong" preload="auto"></audio>

<audio src="sounds/HiHatShort.ogg" id="hhshort" preload="auto"></audio> 
   
<audio src="sounds/BassHit.ogg" id="bass" preload="auto" preload="auto"></audio>

<audio src="sounds/Clap.ogg" id="clap"  preload="auto"></audio>

<audio src="sounds/Rimshot.ogg" id="rimshot"  preload="auto" ></audio>   

<audio src="sounds/Snare1.ogg" id="snare1" preload="auto"></audio>

<audio src="sounds/Snare2.ogg" id="snare2" preload="auto"></audio>
    
<audio src="sounds/TomHi.ogg" id="tomhi" preload="auto"></audio>   

<audio src="sounds/TomMid.ogg" id="tommid" preload="auto"></audio>    

<audio src="sounds/TomLow.ogg" id="tomlow" preload="auto"></audio>
    
<audio src="sounds/Cowbell.ogg" id="cowbell" preload="auto" ></audio>
    
<audio src="sounds/media/bassdrum-02.ogg" id="bassdrum2" preload="auto" ></audio>
    
<audio src="sounds/media/cabasa.ogg" id="cabasa" preload="auto" ></audio>
    
<audio src="sounds/media/claves.ogg" id="claves" preload="auto" ></audio>
  
<audio src="sounds/media/bassdrum-03.ogg" id="bassdrum3" preload="auto" ></audio>
    
<audio src="sounds/media/crash-02.ogg" id="crash02" preload="auto" ></audio>
</div> 
   

  
</body>

</html>