.responsive {
   padding-top:40px;
   margin: auto;
  width: 100%;
  height: auto;
}
.responsive1 {
   
   margin: auto;
  width: 100%;
  height: auto;
}
html {
  background-color: #6b8e23; 
}
h3{
	color: #ffffff;
	font-weight: 900;
	text-align: center;
	
}
p{
	color: #ffffff;
	
	text-align: center;
	
}
h2{
	color: #ffffff;
	font-weight: 900;
	text-align: center;
	
}
footer{
	 padding-top:70px;
	color: #ffffff;
	font-weight: 900;
	text-align: center;
	
}

form{
	padding-top:20px;
	color: #ffffff;
	font-weight: 900;
	text-align: center;
	
}

